.logo a {
  display: block;
}
.logo img {
  display: block;
}
.logo--top {
  z-index: 2;
}
.logo--bottom svg {
  width: 146px;
  height: 40px;
  display: block;
}
.logo--bottom-desktop {
  display: none;
}
.logo--bottom .logo--bottom-pink {
  fill: #283645;
}
.logo--bottom:hover .logo--bottom-pink {
  fill: $pink-color;
}
.logo--bottom:active .logo--bottom-glasses {
  fill: rgba(210, 40, 86, .3);
}
.logo--bottom:active .logo--bottom-pink {
  fill: rgba(40, 54, 69, .3);
}

@media #{$desktop-width} {
  .logo--bottom-desktop {
    display: block;
  }

}
